.rentals-container{
    box-sizing: border-box;
    height: 85vh;
    width: 100vw;
    margin: 0px;
    border-width: 0px;
    padding: 0px;
    overflow-y: scroll;  
}

.image-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 25px;
}

.description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
}

.images{
    height: 350px;
    width: 350px;
    object-fit: cover;
}