.rental-page{
    display: flex;
    flex-direction: row;
    height: 88vh;
    width: 100vw;
    overflow-y: scroll;
}

.rental-history{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 85vh;
    width: 35vw;
    text-align: center;
    margin-left: 250px;
    overflow-x: hidden;
}

.rental-history-header{
    font-size: 40px;
    margin-top: 150px;
}

.equipment{
    display: flex;
    height: 8vh;
    overflow-y: scroll;
    font-size: 20px;
}

.equipment p{
    margin-top: 2px;
    margin-bottom: 2px;
    margin: 2px 5px 2px 5px;
}

.account-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 450px;
    top: 100px;
}

.account-information h3{
    font-size: 40px;
}

.account-information h4{
    font-size: 30px;
    margin: 0px;
}

#email-address{
    font-size: 25px;
    margin-top: 30px;
}

.updates{
    font-size: 20px;
}

#logout{
    margin-top: 30px;
}

.email-edit{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 430px;
    align-items: center;
}

#edit-email-header{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 25px;
}

#edit-input{
    margin-top: 25px;
}

#bottom-edit-input{
    margin-bottom: 25px;
}

.email-edit button{
    margin-bottom: 25px;
}

.password-edit{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    right: 430px;
    margin-bottom: 100px;
    align-items: center;
}

.password-edit button{
    margin-bottom: 25px;
}

.admin-view{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-view-header{
    font-size: 40px;
    margin-top: 28px;
}

.admin-view button{
    width: 450px;
}

.admin-view{
    margin-top: 110px;
}

@media (max-width: 1730px){
    .admin-view{
        margin-left: 50px;
    }
}

@media (max-width: 1570px){
    .rental-history{
        margin-left: 150px;
    }

    .account-information{
        right: 350px;
    }

    .email-edit{
        right: 350px;
    }

    .password-edit{
        right: 350px;
    }
}

@media (max-width: 1270px){
    .rental-history{
        width: 300px;
        margin-left: 75px;
    }

    .admin-view{
        
    }

    .account-information{
        right: 200px;
        width: 30vw;
    }

    .password-edit{
        right: 175px;
    }

    .password-edit input{
        width: 300px;
    }

    .password-edit button{
            width: 300px;
    }

    .account-information h4{
        font-size: 20px;
    }

    .email-edit{
        margin-top: 175px;
        right: 200px;
    }

    #email-address{
        font-size: 30px;
    }

    .updates{
        font-size: 15px;
    }
}

@media (max-width: 500px){
    .rental-page{
        display: flex;
        flex-direction: column;
        height: 200vh;
        justify-content: space-around;
    }

    .account-information{
        padding-bottom: 0px;
    }

    .account-information button{
        margin-top: 10px;
    }

    .account-information h3{
        font-size: 25px;
    }

    .account-information h4{
        font-size: 20px;
    }

    .updates{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #email-address{
        margin-top: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .rental-history{
        margin-top: 750px;
        height: 200vh;
        padding-bottom: 100px;
        padding-top: 10px;
    }

    .rental-history-header{
        margin-top: 0px;
    }

    .password-edit{
        margin-top: 50px;
        right: 100px;
        position: absolute;
        top: 500px;
    }

    .password-edit input{
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .password-edit button{
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .email-edit{
        right: 50px;
        top: 0px;
    }

    #email-address-edit{
        font-size: 30px;
    }
}