.profile-page{
    display: flex;
    flex-direction: row;
    height: 200vh;
    width: 100vw;
    overflow-y: scroll;
}

.rental-history{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    height: 150vh;
    width: 35vw;
    text-align: center;
    margin-left: 150px;
    overflow-x: hidden;
}

.rental-history-header{
    font-size: 40px;
    margin-top: 125px;
}

.equipment{
    display: flex;
    height: 8vh;
    overflow-y: scroll;
    font-size: 20px;
}

.equipment p{
    margin: 2px 5px 2px 5px;
}

.account-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 250px;
    top: 100px;
    height: 150vh;
    overflow-y: scroll;
}

.account-information h3{
    font-size: 40px;
    margin-bottom: 10px;
}

.account-information h4{
    font-size: 30px;
    margin: 0px;
}

#email-address{
    font-size: 25px;
    margin-top: 10px;
}

.updates{
    font-size: 20px;
}

#logout{
    margin-top: 30px;
}

.email-edit{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    right: 250px;
    height: 200vh;
    align-items: center;
    overflow-y: scroll;
}

#edit-email-header{
    font-size: 40px;
    margin-top: 35px;
    margin-bottom: 25px;
}

#edit-input{
    margin-top: 25px;
}

#bottom-edit-input{
    margin-bottom: 25px;
}

.email-edit button{
    margin-bottom: 25px;
}

.password-edit{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 550px;
    align-items: center;
}

.password-edit button{
    margin-bottom: 25px;
}

.admin-view{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin-view-header{
    font-size: 40px;
    margin-top: 28px;
}

.admin-view button{
    width: 450px;
}

.admin-view{
    margin-top: 110px;
}

@media (max-width: 1025px){
    .account-information{
        right: 15vw;
    }

    .email-edit{
        right: 15vw;
    }

    .rental-history{
        margin-left: 50px;
    }
}

@media (max-width: 770px){
    .email-edit{
        right: 10vw;
    }   
}

@media (max-width: 500px){
    .profile-page{
        flex-direction: column;
        align-items: center;
        width: 100vw;
        height: 175vh;
        margin: 0px;
        justify-self: center;
        overflow-y: scroll;
    }

    .account-information{
        position: absolute;
        width: 100vw;
        top: 70px;
        margin: 0px;
        height: 60vh;
        right: unset;
    }

    .updates{
        margin-top: 1.5px;
        margin-bottom: 1.5px;
    }

    #account-info-header{
        font-size: 25px;
    }

    #email-address{
        font-size: 18px;
        margin-top: 1.5px;
        margin-bottom: 1.5px;
    }

    #email-id-header{
        font-size: 22px;
    }

    #logout{
        width: 325px;
        margin-top: 10px;
    }

    .email-edit{
        align-items: center;
        margin: 0px;
        padding: 0px;
        height: 50vh;
        right: 0px;
    }

    #edit-email-header{
        font-size: 25px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    #edit-input{
        width: 325px;
    }

    #bottom-edit-input{
        width: 325px;
    }

    .email-edit button{
        width: 325px;
    }

    .password-edit{
        position: absolute;
        margin: 0px;
        padding: 0px;
        top: 275px;
        z-index: 3;
    }

    .password-edit input{
        width: 325px;
        margin-top: 5px;
        margin-bottom: 2px;
    }

    #edit-button-top{
        margin-bottom: 2.5px;
        width: 325px;
    }

    #edit-button-bottom{
        margin-top: 2.5px;
        width: 325px;
    }

    .rental-history{
        position: unset;
        flex-direction: column;
        width: 80vw;
        height: 100vh;
        margin-right: 0px;
        overflow-y: scroll;
        align-items: center;
        padding-top: 450px;
        flex-wrap: nowrap;
        margin-left: 0px;
        justify-content: center;
    }

    .equipment p{
        height: unset;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 12px;
        overflow: hidden;
    }

    .equipment{
        display: inline;
        height: 70px;
        width: 325px;
        font-size: 10px;
        overflow-y: hidden;
    }

    .rental-history-header{
        font-size: 25px;
    }
}