.location {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 85%;
    width: 100vw;
    margin-top: 100px;
}

.map-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 75px;
    align-items: center;
    width: 45%;
}

.map{
    border-radius: 15px;
}

#map-header {
    display: flex;
    font-size: 50px;
}

.location-info{
    display: flex;
    position: absolute;
    right: 0%;
    flex-direction: column;
    margin-right: 75px;
    margin-top: 30px;
    font-size: 25px;
    width: 45%;
}

.location-info h1 {
    font-size: 50px;
}

#info-sentence {
    padding-top: 25px;
}