.location {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 85vh;
    width: 100vw;
    margin-top: 50px;
    overflow-y: scroll;
}

.map-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 75px;
    align-items: center;
    width: 45%;
}

.map{
    border-radius: 15px;
    height: 400px;
    width: 500px;
}

#map-header {
    display: flex;
    font-size: 50px;
    margin-bottom: 20px;
}

.location-info{
    display: flex;
    position: absolute;
    right: 0%;
    flex-direction: column;
    margin-right: 75px;
    margin-top: 25px;
    font-size: 25px;
    width: 45%;
}

.location-info h1 {
    font-size: 50px;
    margin-bottom: 0px;
}

@media (max-width: 1050px){
    .location{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: start;
    }

    .map-container{
        position: unset;
        margin-right: 10vw;
        margin-left: 0px;
        margin-top: 0px;
        width: 80vw;
    }

    .location-info{
        position: unset;
        align-items: center;
        margin-right: 10vw;
        padding-bottom: 10px;
    }
}

@media (max-width: 770px){
    .location{
        height: 100vh;
        margin-top: 100px;
    }
}

@media (max-width: 500px){
    .location{
        margin-top: 0px;
        height: 100vh;
        justify-content: baseline;
    }

    .map-container{
        margin: 0px;
        padding-top: 0px;
    }

    .location-info h1{
        margin-bottom: 0px 0px 10px 0px;
        font-size: 30px;
    }

    .location-info h4{
        margin: 0px;
        font-size: 20px;
    }

    #info-sentence{
        margin-bottom: 2.5px;
        padding-bottom: 2.5px;
    }

    .location-info{
        padding-bottom: 0px;
    }

    .map-container{
        height: 40vh;
        padding-bottom: 100px;
    }

    #map-header{
        margin-top: 5px;
    }

    .map{
        height: 300px;
        width: 300px;
        margin: 0px;
        padding: 0px;
    }
}

@media (max-width: 380px){
    .map-container{
        padding-bottom: 70px;
    }
}

@media (max-width: 325px){
    #map-header{
        font-size: 30px;
    }

    .map{
        height: 250px;
        width: 250px;
    }

    .location-info h1{
        font-size: 30px;
    }

    #info-sentence{
        font-size: 15px;
    }
}