.page{
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 60px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#email-header{
    font-size: 25px;
}

#phone{
    font-size: 25px;
}

.form input {
    width: 250px;
}

#name-input{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}

#name-input input{
    font-size: 15px;
    font-weight: normal;
    height: 25px;
}

#message {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: 250px;
    width: 500px;
    justify-content: top;
    text-align: start;
    flex-wrap: nowrap;
    font-size: 20px;
    margin-bottom: 30px;
}

#message-header{
    font-size: 25px;
    margin-bottom: 25px;
}

.email-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.email-form h2{
    margin-top: 0%;
}

#message-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form button{
    width: 25px;
    height: 25px;
    text-align: center;
    justify-content: center;
    padding-bottom: 20px;
}

#email-subject{
    display: flex;
    flex-direction: row;
    font-size: 25px;
    margin-left: 50px;
}

#subject{
    padding-left: 30px;
}

#email-subject input{
    font-size: 15px;
    font-weight: normal;
    height: 25px;
}

.form button {
    width: 257px;
}

@media (max-width: 800px){
    .top{
        margin-right: 10vw;
    }

    .email-form{
        margin-right: 10vw;
    }

    #name-input{
        flex-direction: column;
        align-items: center;
    }

    #email-subject{
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
}

@media (max-width: 500px){
    .top{
        margin: 0px;
    }

    .email-form{
        margin: 0px;
    }

    #name-input{
        margin: 0px;
    }

    #email-subject{
        margin: 0px;
    }

    #message{
        width: 275px;
    }
}