.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 250px;
}

#message {
    display: flex;
    flex-direction: column;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    height: 250px;
    width: 250px;
    justify-content: top;
    text-align: start;
    flex-wrap: nowrap;
}

.form button {
    width: 257px;
}