.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: black;
}

.mobile-dropdown{
    display: none;
}

header img {
    position: absolute;
    left: 15px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}

header h1 {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #39B2A7;
    font-size: 65px;
}

.nav {
    position: absolute;
    right: 20px;
    font-size: 25px;
}

#link {
    margin-left: 10px;
    margin-right: 10px;
    color: #39B2A7;
    text-decoration: none;
}

@media (max-width: 1570px) {
    header h1{
        font-size: 50px;
    }

    #link{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 22.5px;
    }
}

@media (max-width: 1270px) {
    .main-header{
        display: none;
    }
}