.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: black;
}

.mobile-dropdown{
    display: none;
}

header img {
    position: absolute;
    left: 15px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    cursor: pointer;
}

header h1 {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    color: #39B2A7;
    font-size: 65px;
}

.nav {
    position: absolute;
    right: 20px;
    font-size: 25px;
}

#link {
    margin-left: 10px;
    margin-right: 10px;
    color: #39B2A7;
    text-decoration: none;
}

@media (max-width: 1570px) {
    header h1{
        font-size: 50px;
    }

    #link{
        margin-left: 5px;
        margin-right: 5px;
        font-size: 22.5px;
    }
}

@media (max-width: 1270px) {
    .nav{
        display: flex;
        flex-direction: column;
        right: 0px;
        top: 30px;
        background-color: black;
        width: 10vw;
        height: 100vh;
    }

    #link{
        font-size: 20px;
        margin-top: 2.5px;
        margin-bottom: 2.5px;
    }
}

@media (max-width: 500px) {
    .main-header{
        height: 75px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .main-header h1{
        font-size: 30px;
    }

    .main-header img{
        height: 50px;
        width: 50px;
    }

    .nav{
        flex-direction: row;
        flex-wrap: wrap;
        height: 25px;
        width: 100vw;
        top: 65px;
        justify-content: center;
    }
}