footer{
    display: flex;
    height: 50px;
    width: 100vw;
    background-color: black;
    position: absolute;
    bottom: 0px;
    align-items: center;
}

footer a{
    margin-left: 25px;
    background-color: #39B2A7;
    border-radius: 15px;
    width: 140px;
    text-decoration: none;
}